:root.theme-dark {
  --bg-color: #000028;
  --text-color: #f1b2ce;
  --accent-color: #ff0070;
  --big-title: #db00ff;
  --decor-color: #000028;
  --fancy-color: #ff0070;
  --faded-color: #ff007066;
  --modified-title: #ff0070;
  --background-image: url(../images/cover-image-dark.png);
}

:root.theme-dark .header__rec,
:root.theme-dark .header__rec::after {
  display: flex;
}


@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #000028;
    --text-color: #f1b2ce;
    --accent-color: #ff0070;
    --big-title: #db00ff;
    --decor-color: #000028;
    --fancy-color: #ff0070;
    --faded-color: #ff007066;
    --modified-title: #ff0070;
    --background-image: url(../images/cover-image-dark.png);
  }

  .header__rec,
  .header__rec::after {
    display: flex;
  }
}