:root.theme-light {
  --background-color: #FFF1F7;
  --background-color-small-block: #FF8DCB;

  --color-border: #353430;
  --color-header: #FFC2E6;

  --color: #353430;
  --color-text: #353430;
  --color-text-article: #353430;
  --background-image-header: url("../images/cover-image-light.png");

  --indicator-color: transparent;

}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}