.main-page {
  color: var(--text-color);
  font-family: var(--main-font, sans-serif);
  font-weight: var(--text-weight);
  font-size: var(--text-size);
  line-height: var(--line-height);
  background-color: var(--bg-color);
  background-image: var(--background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  inline-size: 100%;
}

.text-link {
  text-shadow: 2px 2px 0 var(--accent-color);
}


.site-header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 16px 0 18px;
  color: var(--fancy-color, #ff0070);
  background-color: var(--bg-color);
}


.decorated-section {
  position: relative;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
}

.decorated-section::before,
.decorated-section::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
}

.decorated-section::before {
  border-inline-end: 1px solid var(--fancy-color);
  border-block-start: 1px solid var(--fancy-color);
  inset-inline-end: 10px;
  inset-block-start: 10px;
}

.decorated-section::after {
  border-inline-start: 1px solid var(--fancy-color);
  border-block-end: 1px solid var(--fancy-color);
  inset-inline-start: 10px;
  inset-block-end: 10px;
}


.record-indicator {
  position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
  inset-inline-end: 18px;
  inset-block-start: 12px;
}

.record-indicator::after {
  content: '';
  display: block;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px rgb(255 0 112 / 0.5);
  background-color: var(--accent-color);
  inline-size: 10px;
  block-size: 10px;
}


.theme-menu {
  justify-self: end;
  align-self: center;
  margin-inline-end: 10px;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
}

.theme-menu__button {
  border: none;
  padding-inline: 13px;
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
}

.theme-menu__button--active {
  outline: 1px solid currentColor;
}

.theme-menu__button:hover {
  outline: 1px solid var(--faded-color);
}


.site-title {
  color: var(--big-title);
  font-weight: var(--heading-weight);
  font-size: clamp(7.25rem, 5.7694rem + 6.3174vw, 9.8125rem);
  line-height: 0.82;
}


.header-description {
  justify-self: end;
  align-self: center;
  margin-inline: 10px;
  padding-inline-end: 20px;
  font-weight: var(--heading-weight);
}

.header-description__line {
  margin-bottom: 10px;
}


.section-title {
  font-weight: var(--heading-weight);
  font-size: inherit;
  color: var(--fancy-color);
}

.block-title {
  color: var(--decor-color);
  background-color: var(--accent-color);
  margin-block-end: 10px;
}


.content {
  margin-inline: 10px;
  margin-block: 40px;
}

.content-section {
  margin-bottom: 50px;
}

.content-section--highlighted {
  background-color: var(--highlight-bg);
  padding: 20px;
}


.text-block {
  margin-block-start: 20px;
}

.text-block__paragraph {
  margin-block-end: 10px;
}


.image-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(192px, 1fr));
  gap: 20px;
  margin-block-start: 20px;
}

.image-gallery__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-gallery__item img {
  max-width: 100%;
  height: auto;
}


.site-footer {
  display: flex;
  background-color: var(--bg-color);
}

.site-footer__title {
  margin: auto;
  text-shadow: 2px 2px 0 var(--accent-color);
}


@media (min-width: 620px) {
  .site-header {
    padding: 105px 0;
  }

  .record-indicator {
    inset-inline-end: 30px;
    inset-block-start: 22px;
  }

  .theme-menu {
    margin-inline-end: 20px;
  }

  .header-description {
    margin-inline: 20px;
    max-inline-size: 48%;
  }

  .content {
    margin-inline: 20px;
    margin-block: 60px;
  }

  .content-section {
    margin-bottom: 80px;
  }

  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1000px) {
  .site-header {
    padding: 20px 0 54px;
  }

  .theme-menu {
    justify-self: center;
    align-self: start;
    margin-inline-start: 15px;
  }

  .theme-menu__list {
    flex-direction: row;
    gap: 11px;
  }

  .content {
    margin-inline: 40px;
  }

  .image-gallery {
    grid-template-columns: repeat(5, 1fr);
  }
}